{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
    <div class="row">
        <h1>Курсы</h1>

        {% for course in courses %}
            <div class="col-md-6 mb-4 course-container">

                <div class="mb-4 h-100 p-5 bg-light border rounded-3">
                    <h2>{{ course.title }}</h2>
                    <p>{{ course.description }}</p>
                    <a href="{{ path('app_course_show', {'id': course.id}) }}" class="btn btn-outline-secondary" type="button">Пройти</a>
                </div>
            </div>
        {% endfor %}

        <hr>
        <h2><a href="{{ path('app_course_new') }}" class="btn btn-primary course-new" type="button">Новый курс</a></h2>
    </div>

{% endblock %}
