{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
    <h1>Курсы</h1>

    {% for course in courses %}
        <h2><a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.title }}</a></h2>
        <p>{{ course.description }}</p>
    {% else %}
        <p>
            <td colspan="5">Не найдены курсы</td>
        </p>
    {% endfor %}

    <hr>
<h2><a href="{{ path('app_course_new') }}">Новый курс</a></h2>
{% endblock %}
