{% extends 'base.html.twig' %}

{% block title %}Новый курс{% endblock %}

{% block body %}
    <div class="row mb-5">
        <h1>Новый курс</h1>


        {{ include('course/_form.html.twig') }}
    </div>
    <hr>

    <a href="{{ path('app_course_index') }}" class="btn btn-outline-secondary">К списку курсов</a>
{% endblock %}
