{% extends 'base.html.twig' %}

{% block title %}Новая лекция{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col">
        <h1>Новая лекция</h1>
            <p>
                Курс <a href="{{ path('app_course_show', {'id': lesson.courseId.id }) }}"
                        class="text-decoration-none">{{ lesson.courseId.title }}</a>
            </p>

        {{ include('lesson/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
