{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страница не найдена</h1>

    <p>
        Запрошенная страница не найдена. Проверьте наличие опечаток в URL или <a href="{{ path('homepage') }}">вернитесь на домашнюю страницу</a>.
    </p>
{% endblock %}