{% extends 'base.html.twig' %}

{% block body %}
    <h1>Доступ к запрошенному ресурсу запрещён</h1>

    <p>
        Проверьте наличие опечаток в URL или <a href="{{ path('homepage') }}">вернитесь на домашнюю страницу</a>.
    </p>
{% endblock %}